<nav class="navbar">
  <!-- Ikona e motit + ora -->
  <div class="navbar-left">
    <img src="assets/icons/sun-cloud.png" alt="logo" class="logo" />
    <!-- <app-current-time></app-current-time> -->
  </div>

  <!-- Search bar në qendër -->
  <div class="navbar-center">
    <app-weather-search></app-weather-search>
  </div>

  <!-- Ikona e profilit + dropdown -->
  <div class="navbar-right">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goToProfile()">
        <mat-icon>person</mat-icon>
        <span>User Profile</span>
      </button>

      <button mat-menu-item (click)="goToFavorites()">
        <mat-icon>star</mat-icon>
        <span>Favorites</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-menu-item>
        <mat-icon>device_thermostat</mat-icon>
        <span>Temperature Unit</span>
        <mat-slide-toggle [(ngModel)]="isFahrenheit" (change)="toggleUnit()">
          °F
        </mat-slide-toggle>
      </button>

      <button mat-menu-item>
        <mat-icon>dark_mode</mat-icon>
        <span>Dark Mode</span>
        <mat-slide-toggle [(ngModel)]="isDarkMode" (change)="toggleTheme()">
        </mat-slide-toggle>
      </button>

      <mat-divider></mat-divider>

      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </div>
</nav>

