<mat-toolbar class="topbar" color="primary">
<div class="brand" (click)="$event.stopPropagation()">
<mat-icon>sunny</mat-icon>
<span class="title">Weatherly</span>
</div>


<span class="spacer"></span>


<app-current-time></app-current-time>


<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="User menu">
<img [ngSrc]="avatar()" width="32" height="32" class="avatar" alt="User" />
</button>
<mat-menu #menu="matMenu">
<div class="menu-header">
<img [ngSrc]="avatar()" width="40" height="40" class="avatar big" alt="User" />
<div>
<div class="name">{{ username() }}</div>
<small>{{ theme() | titlecase }} • {{ unit() }}</small>
</div>
</div>
<button mat-menu-item (click)="editProfile()">
<mat-icon>edit</mat-icon>
<span>Edit profile</span>
</button>
<button mat-menu-item (click)="toggleTheme()">
<mat-icon>dark_mode</mat-icon>
<span>Theme: {{ theme() === 'light' ? 'Light' : 'Dark' }}</span>
</button>
<button mat-menu-item (click)="toggleUnit()">
<mat-icon>swap_horiz</mat-icon>
<span>Units: {{ unit() === 'C' ? 'Celsius' : 'Fahrenheit' }}</span>
</button>
<button mat-menu-item routerLink="/" fragment="favorites">
<mat-icon>favorite</mat-icon>
<span>Favorite cities</span>
</button>
</mat-menu>
</mat-toolbar>